# Node / NPM
/node_modules/
npm-debug.log
yarn-error.log

# Composer
/vendor/
auth.json

# Laravel Environment Files
.env
.env.backup
.env.production

# Laravel Storage & Build
/storage/*.key
/storage/pail
/storage/telescope/
storage/clockwork/
storage/octane/
/public/storage
/public/build
/public/hot

# PHPUnit
/.phpunit.cache
.phpunit.result.cache

# Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant/

# IDEs / Editors
/.idea/
/.vscode/
/.fleet/
.phpactor.json

# Laravel 4
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen
public_html/storage
public_html/hot

# OS-specific
.DS_Store
Thumbs.db